@{
    ViewBag.Title = "Home Page";
}

<h1>Your dashboard</h1>

<a class="btn btn-danger" href="#" onclick="eraseCookie('bscookies')">Delete cookies</a><br>

<div id="previewBox"></div>
<div id="previewWindow"></div>

<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    // Remove the warpper that contain the preview div
    $(document).on('click', '.broadcast .closebtn', function (e) {
        e.preventDefault();
        $(this).parent().remove();
        var id = $(this).attr("data");
        var bscookies = readCookie("bscookies");
        createCookie("bscookies", bscookies + "," + id, 50);
        console.log(readCookie("bscookies"));
    });

    $(document).on('click', '.viewBtn', function (e) {
        e.preventDefault();
        var id = $(this).attr("data");
        $.ajax({
            url: "/Messages/Details/" + id,
            type: "GET",
            datatype: 'json',
            success: function (data) {
                console.log(data.Content);
                $("#previewWindow").html(data.Content);
                $("#previewWindow").kendoWindow({
                    width: $("body").width() * 0.7 + "px",
                    title: data.Title,
                    visible: false,
                    actions: [
                        "Close"
                    ],
                }).data("kendoWindow").center().open();
            },
        });
    });

    $(document).ready(function () {
        $.ajax({
            url: "/Messages/GetBroadcasting",
            type: "GET",
            success: function (data) {
                var bscookies = readCookie("bscookies");
                var array;
                if (bscookies == null) {
                    bscookies = "";
                }
                if (bscookies.length > 0) {
                    array = bscookies.split(",");
                }
                for (var i = 0; i < data.length; i++) {
                    if (bscookies.length > 0) {
                        var index = array.includes(data[i].ID + "");
                        if (index == false) {
                            $("#previewBox").append(
                                '<div class="broadcast">' +
                                '<div class="trapezoid"></div>' +
                                '<div class="newtxt">NEW*</div>' +
                                '<button type="button" class="closebtn" data="' + data[i].ID + '">Close X</button>' +
                                '<div class="container">' +
                                '<div class="title">' + data[i].Title + '</div>' +
                                '<div class="content">' + data[i].Content + '</div>' +
                                '<div class="readmore">' +
                                '<a class="viewBtn" data="' + data[i].ID + '" href="#" > Read more</a ></div > ' +
                                '</div></div>'
                            );
                        }
                    } else {
                        $("#previewBox").append(
                            '<div class="broadcast">' +
                            '<div class="trapezoid"></div>' +
                            '<div class="newtxt">NEW*</div>' +
                            '<button type="button" class="closebtn" data="' + data[i].ID + '">Close X</button>' +
                            '<div class="container">' +
                            '<div class="title">' + data[i].Title + '</div>' +
                            '<div class="content">' + data[i].Content + '</div>' +
                            '<div class="readmore">' +
                            '<a class="viewBtn" data="' + data[i].ID + '" href="#" > Read more</a ></div > ' +
                            '</div></div>'
                        );
                    }

                }
            },
        });
    });
</script>