@model IEnumerable<BroadcastSystem.Models.Message>

@{
    ViewBag.Title = "Index";
}

<div id="example">
    <div id="grid"></div>

    <script>
        $(document).ready(function () {
            $("#grid").kendoGrid({
                // editable: "inline",
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/Messages/GetData"
                    },
                    pageSize: 30,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                height: 550,
                sortable: true,
                filterable: true,
                columnMenu: true,
                pageable: true,
                columns: [{
                    field: "ID",
                    title: "ID",
                    width: 60
                }, {
                    field: "From",
                    title: "From",
                    template: "#= kendo.toString(kendo.parseDate(From, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    field: "To",
                    title: "To",
                    template: "#= kendo.toString(kendo.parseDate(To, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    //Message buttons
                    //command: [{ text: "Edit" }, { text: "Delete" }, { text: "View" }],
                    title: "Message",
                    template: '<a class="k-button" href="/Messages/Edit/#=ID#">Edit</a>' +
                     '<a class="k-button" href="/Messages/View/#=ID#">View</a>' +
                     '<a class="k-button" href="/Messages/Delete/#=ID#">Delete</a>'
                }, {
                    field: "CreatedOn",
                    title: "Created On",
                    template: "#= kendo.toString(kendo.parseDate(CreatedOn, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    field: "UpdatedOn",
                    title: "Updated On",
                    template: "#= kendo.toString(kendo.parseDate(UpdatedOn, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    field: "IsActived",
                    title: "Broadcast",
                    template: '<input type="checkbox" #= IsActived ? \'checked="checked"\' : "" # class="chkbx" />'
                }],
            });
        });
    </script>
</div>



