@model IEnumerable<BroadcastSystem.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Messages Management</h2>

<p>
    <a href="/Messages/Create" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create New Message
    </a>
</p>

<div id="example">
    <div id="grid"></div>

    <div id="previewBox"></div>
    <div id="previewWindow"></div>

    <script>
        $(document).on('click', '.broadcast .closebtn', function (e) {
            e.preventDefault();
            $(this).parent().remove();
        });

        $(document).on('click', '.viewBtn', function (e) {
            e.preventDefault();
            var id = $(this).attr("data");
            $.ajax({
                url: "/Messages/Details/" + id,
                type: "GET",
                datatype: 'json',
                success: function (data) {
                    console.log(data.Content);
                    $("#previewWindow").html(data.Content);
                    $("#previewWindow").kendoWindow({
                        width: $("body").width() * 0.7 + "px",
                        title: data.Title,
                        visible: false,
                        actions: [
                            "Close"
                        ],
                    }).data("kendoWindow").center().open();
                },
            });
        });

        $(document).on('click', '.broadcastBtn', function (e) {
            e.preventDefault();
            var id = $(this).attr("data1");
            var value = $(this).attr("data2");
            if (value == "true") {
                $(this).attr("data2", "false");
                $.ajax({
                    url: "/Messages/Broadcast/" + id + "?value=false",
                    type: "GET",
                    success: function (data) {
                        loadGrid();
                    },
                });
                //$(this).removeClass("btn-success");
                //$(this).addClass("btn-default");
                //$(this).html("<span class='glyphicon glyphicon-pause'></span> No");
            } else {
                $(this).attr("data2", "true");
                $.ajax({
                    url: "/Messages/Broadcast/" + id + "?value=true",
                    type: "GET",
                    success: function (data) {
                        loadGrid();
                    },
                });
                //$(this).removeClass("btn-default");
                //$(this).addClass("btn-success");
                //$(this).html("<span class='glyphicon glyphicon-play'></span> Yes");
            }
        });

        function onDataBound(arg) {
            $(".broadcastBtn").each(function () {
                var id = $(this).attr("data1");
                var value = $(this).attr("data2");
                if (value == "true") {
                    $(this).removeClass("btn-default");
                    $(this).addClass("btn-success");
                    $(this).html("<span class='glyphicon glyphicon-play'></span> Yes");
                } else {
                    $(this).removeClass("btn-success");
                    $(this).addClass("btn-default");
                    $(this).html("<span class='glyphicon glyphicon-pause'></span> No");
                }
            });
        }

        function loadGrid() {
            $("#grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: "/Messages/GetAll"
                    },
                    pageSize: 30,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                dataBound: onDataBound,
                height: 550,
                sortable: true,
                filterable: true,
                columnMenu: true,
                pageable: true,
                columns: [{
                    field: "ID",
                    title: "ID",
                    width: 70
                }, {
                    field: "From",
                    title: "Broadcasts from",
                    template: "#= kendo.toString(kendo.parseDate(From, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    field: "To",
                    title: "Broadcasts to",
                    template: "#= kendo.toString(kendo.parseDate(To, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    title: "Actions",
                    template: "<a class='btn btn-info viewBtn' href='/' data='#=ID#'><span class='glyphicon glyphicon-search'></span></a> " +
                    "<a class='btn btn-warning' href='/Messages/Edit/#=ID#'><span class='glyphicon glyphicon-pencil'></span></a> " +
                    "<a class='btn btn-danger' href='/Messages/Delete/#=ID#' onclick='return confirm(\"Are you sure to delete this item?\")'><span class='glyphicon glyphicon-trash'></span></a> ",
                }, {
                    field: "CreatedOn",
                    title: "Created On",
                    template: "#= kendo.toString(kendo.parseDate(CreatedOn, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    field: "UpdatedOn",
                    title: "Updated On",
                    template: "#= kendo.toString(kendo.parseDate(UpdatedOn, 'yyyy-MM-dd HH:mm:ss'), 'MM/dd/yyyy HH:mm:ss') #"
                }, {
                    field: "IsBroadcasting",
                    title: "Is broadcasting",
                    template: "<a class='btn btn-success broadcastBtn' href='/' data1='#=ID#' data2='#=IsBroadcasting#'><span class='glyphicon glyphicon-play'></span> Yes</a>"
                }],
            });
        }

        $(document).ready(function () {
            loadGrid();
        });
    </script>
</div>